<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>injections</key>
		<dict>
			<key>text.html.liquid</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>{% comment %}</string>
						<key>end</key>
						<string>{% endcomment %}</string>
						<key>name</key>
						<string>comment.block.liquid</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>{%+(?!&gt;)=?</string>
						<key>end</key>
						<string>%}</string>
						<key>name</key>
						<string>source.liquid.tags.embedded.html</string>
						<key>patterns</key>
						<array>
							<dict>
								<key>include</key>
								<string>source.ruby.rails</string>
							</dict>
							<dict>
								<key>include</key>
								<string>#language</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>begin</key>
						<string>{{</string>
						<key>end</key>
						<string>}}</string>
						<key>name</key>
						<string>source.liquid.output.embedded.html</string>
						<key>patterns</key>
						<array>
							<dict>
								<key>include</key>
								<string>source.ruby.rails</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>include</key>
						<string>text.html.basic</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>repository</key>
		<dict>
			<key>language</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>\b(assign|paginate|endpaginate)\b</string>
						<key>name</key>
						<string>support.function.built-in.liquid</string>
					</dict>
					<dict>
						<key>match</key>
						<string>\b(if|else|elsif|endif|foreach|foreachelse|section|for|endfor|comment|endcomment)\b</string>
						<key>name</key>
						<string>keyword.control.liquid</string>
					</dict>
					<dict>
						<key>match</key>
						<string>\b(include)\b</string>
						<key>name</key>
						<string>keyword.other.special-method.liquid</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>deleted</key>
	<array>
		<string>patterns</string>
	</array>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>675E0890-CA4B-404D-8000-15BE6FAE9998</string>
</dict>
</plist>
